body {
  	background-image: url(images/LoL_Draft_Bckgnd.jpg);
	background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

#champ-select {
	padding: 0;
	border: none;
	margin: auto;
	width: 1400px;
}

.blue-side {
	float: left;
	padding: 15px;
	border-style: ridge;
	width: 150px;
	width: 150px;
	height: 616px;
	margin: 10px;

}

.champ-list {
	padding: 0;
	margin:  10px auto;
	width: 1025px;
	height: 525px;
	overflow: auto;

}

#champ-list {
	width: 100%;
	padding-left: 15px;
}

.red-side {
	float:right;
	padding: 15px;
	border-style: ridge;
	width: 150px;
	height: 616px;
	margin: 10px;

}

.bans {
	height: 155px;
	width: 1400px;
	margin: 25px auto;
	padding: 5px;

}

.force-column-left {
	float: left;
	padding: 0;
	width: 120px;
	margin: 10px;
}

#blue-side-picks {
	padding: 0;
	margin: auto auto;
}

.bans-container{
	width: 340px;
	height: 120px;
	border-style: ridge;
}

.row-adjustment{
	margin: 0;
}

#blue-side-bans-container {
	float: left;
	margin-left: 100px;
}

#red-side-bans-container {
	float: right;
	margin-right: 100px;
}


#red-side-picks {
 	padding: 0;
	margin: auto auto;
}

#blue-side-bans {
	float: left;
	padding: 0;
	margin: auto auto;
}

#red-side-bans {
	float: left;
	padding: 0;
	margin: 0;
}

.icon {
	margin: 5px;
	padding-left: 2px;
	height: 100px;
	width: 100px;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}