body {
  	background-image: url(images/LoL_Draft_Bckgnd.jpg);
	background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

#champ-select {
	padding: 0;
	border: none;
	width: 100%;
	/*background-color: #16132A;*/
}

.blue-side {
	float: left;
	padding: 30px;
	border-style: ridge;
	width: 200px;
	height: 716px;
	margin: 10px;

}

.champ-list {
	padding: 0;
	/*border-style: ridge;*/
	margin:  10px auto;
	width: 1025px;
	height: 716px;
	overflow: auto;

}

#champ-list {
	width: 100%;
	padding-left: 15px;

}

.red-side {
	float:right;
	padding: 30px;
	border-style: ridge;
	width: 200px;
	height: 716px;
	margin: 10px;

}

.bans {
	height: 155px;
	width: 1400px;
	margin: 25px auto;
	padding: 5px;
	/*border-style: ridge;*/

}

.force-column-left {
	float: left;
	padding: 0;
	width: 120px;
	margin: 10px;
}

#blue-side-picks {
	padding: 0;
}

.bans-container{
	width: 405px;
	height: 140px;
	border-style: ridge;
}

.row-adjustment{
	margin: 0;
}

#blue-side-bans-container {
	float: left;
}

#red-side-bans-container {
	float: right;
}


#red-side-picks {
 	padding: 0;
}

#blue-side-bans {
	float: left;
	padding: 0;
}

#red-side-bans {
	float: left;
	padding: 0;
}

.icon {
	margin: 5px;
	padding-left: 2px;
	z-index: 1;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}