#champ-select {
	padding: 0;
	border: none;
	width: 100%;
	background-color: #190B07;
	z-index: -1;
}

.blue-side {
	float: left;
	padding: 30px;
	border-style: ridge;
	width: 200px;
	height: 716px;
	margin: 10px;
	z-index: -1;
}

.champ-list {
	padding: 0;
	border-style: ridge;
	margin:  10px auto;
	width: 1025px;
	height: 716px;
	overflow: auto;
	z-index: -1;
}

#champ-list {
	width: 100%;
	padding-left: 15px;
	z-index: -1;
}

.red-side {
	float:right;
	padding: 30px;
	border-style: ridge;
	width: 200px;
	height: 716px;
	margin: 10px;
	z-index: -1;
}

.bans {
	height: 150px;
	width: 1400px;
	margin: 25px auto;
	border-style: ridge;
	z-index: -1;
}

.force-column-left {
	float: left;
	padding: 0;
	width: 120px;
	margin: 10px;
	z-index: -1;
}

#blue-side-bans {
	float: left;
	padding: 10px;
	z-index: -1;
}

#red-side-bans {
	float: right;
	padding: 10px;
	z-index: -1;
}

.icon {
	margin: 5px;
	padding-left: 2px;
	z-index: 1;
}

.new {

}